*
{
    padding: 0;
    margin: 0;
}
.menu-bar
{
    background-color: aquamarine;
    text-align: center;
}
.menu-bar a{
    text-decoration: none;
    color:aqua;
}
.active .menu-bar:hover{
    background-color: blueviolet;
    border-radius: 3px;
}
